@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Wellness Hospital,@TempData["FirstName"] @TempData["LastName"]</h1>
    <h4>Where your health matters...</h4>
    <h4>Your username:@TempData["CustomUserId"]</h4>
   
</div>
