<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Link to your stylesheet here -->
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" /> <!-- Replace with the correct path to your stylesheet -->

</head>
<body>



    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>




    <p>Last Updated: [Insert Date]</p>

    <h4>Introduction:</h4>

    <p>
        Welcome to Wellness Hospital . We are committed to protecting your privacy and safeguarding your personal information.
        This Privacy Policy outlines how we collect, use, disclose, and protect your information when you use our services, including our website, mobile application, and in-person interactions.
        By accessing or using our services, you consent to the practices described in this Privacy Policy.
    </p>

    <h4>Information We Collect:</h4>

    <ul>
        <h4>We may collect various types of information, including:</h4>
        <li>
            Personal Information: Information that can be used to identify you, such as your name,
            contact details, date of birth, and medical history.
        </li>
        <li>
            Health Information: Information related to your health and medical treatment,
            which may include medical records, test results, treatment plans, and billing information.
        </li>
        <li>
            Usage Information: Information about how you use our services, including
            your device information, IP address, browser type, and pages you visit on our website or app.
        </li>
        <li>
            Cookies and Tracking Technologies: We may use cookies and similar technologies
            to collect information about your browsing activities and preferences.
            You can manage cookie preferences through your browser settings.
        </li>
    </ul>






    <p>
        <h4>How We Use Your Information:</h4>

    <p>We use the collected information for various purposes, including:</p>
    <ul>
        <li>Providing Healthcare Services: To deliver medical treatment, diagnose conditions, and manage your healthcare needs.</li>

        <li>Communications: To communicate with you about your appointments, test results, and treatment options.</li>

        <li>Improving Services: To enhance our services, tailor them to your needs, and conduct research and analysis.</li>

        <li>Legal Compliance: To comply with applicable laws, regulations, and legal requests.</li>

        <li>Marketing: With your consent, we may use your information to send you promotional materials or information about our services. You can opt out at any time.</li>

    </ul>
    Disclosure of Your Information

    We may share your information with:

    Healthcare Providers: Our staff and healthcare professionals involved in your treatment.

    Third-Party Service Providers: Trusted third parties who assist us in delivering services, such as IT support, billing, and medical laboratories.

    Legal Authorities: When required by law, we may disclose your information to legal authorities or comply with court orders.</p>

    <h4>Data Security:</h4>

    <p>We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no method of data transmission over the internet or electronic storage is entirely secure. We cannot guarantee the absolute security of your data.</p>

    <h4>Your Privacy Choices:</h4>

    <p>You have the right to access, correct, or delete your personal information. You can also choose to opt out of receiving marketing communications. To exercise these rights or for any privacy-related inquiries, please contact us using the information provided below.</p>

    <h4>Changes to this Privacy Policy:</h4>

    <p>We may update this Privacy Policy from time to time. Any changes will be posted on our website, and the revised Privacy Policy will apply to the information collected from the date of posting.</p>

    <h4>Contact Us</h4>

    <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at:</p>

</body>
</html>
